.sectionFourContainer {
  width: 1064px;
  margin: 0 auto;
  .title1 {
    padding: 45px 0;
    margin-bottom: 30px;
    span {
      font-size: 22px;
      display: inline-block;
      margin-bottom: 8px;
    }
  }
  .largeUnderline1 {
    @include largeUnderline;
    margin-bottom: 0px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  form {
    display: flex;
    flex-direction: column;
    width: 60%;
    input, textarea {
      display: block;
      border: 1px solid #A5E2D0;
      font-size: 35px;
      padding: 12px;
      margin-bottom: 20px;
    }
  }
  .submitContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .redChairImage {
      background-image: url("../images/red_chair.png");
      background-size: cover;
      background-position: center;
      height: 50%;
      width: 50%;
      margin-bottom: 30px;
    }
    .checkbox {
      display: flex;
      justify-content: center;
      padding: 0 20px;
      input {
        background-image: url("../images/form_ok.jpg");
        background-position: center;
        background-size: cover;
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
        padding-left: 10px;
      }
    }
    button{
      font-size: 40px;
      color: white;
      font-weight: bold;
      background-color: #24BA9F;
      padding: 15px 100px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }
}